openapi: 3.0.3
info:
  title: Payments API
  description: API for handling payments and requests between users in KongPaymo
  version: 1.0.0
servers:
  - url: https://api.kongpaymo.com/v1
paths:
  /payments:
    post:
      summary: Send a payment to another user
      operationId: sendPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '201':
          description: Payment sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Invalid request
        '404':
          description: User not found
  /payments/requests:
    post:
      summary: Request a payment from another user
      operationId: requestPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '201':
          description: Payment request created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequestResponse'
        '400':
          description: Invalid request
        '404':
          description: User not found
  /payments/{paymentId}:
    get:
      summary: Get payment details
      operationId: getPayment
      parameters:
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payment found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '404':
          description: Payment not found
  /payments/requests/{requestId}:
    get:
      summary: Get payment request details
      operationId: getPaymentRequest
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payment request found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequestResponse'
        '404':
          description: Payment request not found
components:
  schemas:
    PaymentRequest:
      type: object
      required:
        - senderId
        - recipientId
        - amount
      properties:
        senderId:
          type: string
        recipientId:
          type: string
        amount:
          type: number
          format: float
        currency:
          type: string
          example: "USD"
        note:
          type: string
    PaymentResponse:
      type: object
      properties:
        paymentId:
          type: string
        senderId:
          type: string
        recipientId:
          type: string
        amount:
          type: number
          format: float
        currency:
          type: string
        status:
          type: string
          enum: ["completed", "failed", "pending"]
        createdAt:
          type: string
          format: date-time
    PaymentRequestResponse:
      type: object
      properties:
        requestId:
          type: string
        requesterId:
          type: string
        recipientId:
          type: string
        amount:
          type: number
          format: float
        currency:
          type: string
        status:
          type: string
          enum: ["pending", "completed", "cancelled"]
        createdAt:
          type: string
          format: date-time
